<!DOCTYPE html>
<html lang="fa">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/css/style.css" type="text/css"/>
      <script src="/js/form.js"></script>
      <title>فروشگاه لباس آقایان</title>
   </head>
   <body>
      <header class="header">
         <div class="header__top">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-7">
                     <div class="header__top__left">
                        <p>ارسال رایگان، 30 روز ضمانت استرداد یا بازگشت مبلغ</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-5">
                     <div class="header__top__right">
                        <div class="header__top__hover">
                           <span>ریال <i class="arrow_carrot-down"></i></span>
                           <ul>
                              <li>ریال</li>
                              <li>یورو</li>
                              <li>دلار</li>
                           </ul>
                        </div>
                        <div class="header__top__links">
                           <a href="#">سوالات متداول</a>
                           <a href="./authenticateForm">ورود</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
       
            <div class="row">
               <div class="col-lg-3 col-md-3">
                  <div class="header__nav__option">
                     <a href="#"><img src="images/icon/heart.png" alt=""></a>
                     <div class="price">$0.00</div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <nav class="header__menu mobile-menu">
                     <ul>
                        <li><a href="/contact">ارتباط با ما</a></li>
                        <li><a href="/blog">بلاگ</a></li>
                        <li><a href="/more">سایر</a></li>
                        <li class="active"><a href="/shopping">خرید</a></li>  
                        <li><a href="/">خانه</a></li>
                     </ul>
                  </nav>
               </div>
               <div class="col-lg-3 col-md-3">
                  <div class="header__logo">
                     <a href="/"><img src="images/logo.png" alt=""></a>
                  </div>
               </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
         </div>
      </header>
       <div class="filterBox">
         <input type="radio" id="best" name="color" checked/>
         <label for="best">پرفروش ترین</label>
         <input type="radio" id="new" name="color"/>
         <label for="new">جدیدترین</label>
         <input type="radio" id="hot" name="color"/>
         <label for="hot">پربازدیدترین</label>
          {{#each BestProducts}}
            <div style="background-image: url({{this.image}});"; class="tile best">
               <form action="/{{this._id}}?_method=DELETE" method="POST">
               <input type="submit" value="حذف" >
               <input type="button" onclick="location.href='/product/{{this._id}}';" value="ویرایش" />

               <div class="text">
                  {{this.title}}
               </div>
               <div class="price">
                  {{this.price}} <span>تومان</span>
               </div>
               </form>
            </div>
         {{/each}}
         {{#each NewProducts}}
         <div style="background-image: url({{this.image}});"; class="tile new">
            <div class="text">
               {{this.title}}
            </div>
            <div class="price">
               {{this.price}} <span>تومان</span>
            </div>
         </div>
         {{/each}}
         {{#each HotProducts}}
         <div style="background-image: url({{this.image}});"; class="tile hot">
            <div class="text">
               {{this.title}}
            </div>
            <div class="price">
               {{this.price}} <span>تومان</span>
            </div>
         </div>
         {{/each}}
      </div>
           <footer class="footer">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
               <div class="footer__about">
                  <div class="footer__logo">
                     <a href="#"><img src="images/footer-logo.png" alt=""></a>
                  </div>
                  <p>در کسب و کار ما مهمترین چیز طراحی مدرن برای مشتری است</p>
                  <a href="#"><img src="images/payment.png" alt=""></a>
               </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
               <div class="footer__widget">
                  <h6>خرید</h6>
                  <ul >
                     <li><a href="/shopping">فروشگاه لباس</a></li>
                     <li><a href="/shopping">پرفروش ترین کفش</a></li>
                     <li><a href="/shopping">لوازم جانبی</a></li>
                     <li><a href="/shopping">فروش</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
               <div class="footer__widget">
                  <h6>خرید</h6>
                  <ul>
                     <li><a href="/contact">ارتباط با ما</a></li>
                     <li><a href="#">شیوه های پرداخت</a></li>
                     <li><a href="#">ارسال مرسوله</a></li>
                     <li><a href="#">تعویض و بازگشت کالا</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
               <div class="footer__widget">
                  <h6>اخبار جدید</h6>
                  <div class="footer__newslatter">
                     <p>اخبار تازه های مد و کالکشن های جدید ما را اولین نفر دریافت کنید</p>
                     <form action="#">
                        <input type="text" placeholder="ایمیل">
               
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12 text-center">
               <div class="footer__copyright__text">
                  <p>
                     طراحی و اجرا توسط <strong>سید امیرحسین فرجادی</strong> و <strong>علیرضا شاکری نژاد</strong>
                     </p>
               </div>
            </div>
         </div>
      </div>
   </footer>
    </body>
</html>